body { 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;} 
.card { 
    display: flex;
    flex-direction: column; 
    height: 400px; width: 700px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    border-radius: 5px; background-color: lightcoral;
    padding: 20px; text-align: left;} 
input { 
    text-align: left;
     margin-bottom: 15px; 
     padding: 8px; border: 1px solid #ccc; 
     border-radius: 4px;
     width: 300px; } 
h2, h3 { 
    margin-bottom: 5px;
    margin-top: 15px;text-align: left;} 
button#Submit { 
    width: 300px; 
    padding: 10px;
    background-color: lightgrey;
    color: white; 
    border: none; 
    border-radius: 4px; } 
button#Submit:active { 
    background-color: grey;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);}